.tableWrapper {
  position: relative;
  max-height: 580px;
  min-height: 290px;
  overflow-y: auto;
  opacity: 0;
  transform: translateY(15px);
  transition: transform .45s ease-out, opacity .45s linear;
}
.tableWrapper.showTable {
  opacity: 1;
  transform: translateY(0);
}
.tableWrapper table {
  width: 100%;
  box-shadow: none;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoItem {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.infoItem:last-child {
  margin-bottom: 0;
}

.infoIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.theadIcon {
  margin-left: 8px;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.calendarWrapper .simpleInput {
  height: 30px;

}

.calendarWrapper form {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.calendarWrapper label {
  position: relative;
  margin: 0 7px;
}
.calendarWrapper label:last-child {
  margin-right: 0;
}

.calendarWrapper label img {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -7px;
  cursor: pointer;
}

.calendarWrapper .button {
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s linear, visibility .25s linear, background .25s linear;
}

.calendarWrapper .button.showBtn {
  opacity: 1;
  visibility: visible;
}

.noMatchMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-style: italic;
  transform: translateX(-50%);
}

/*Media*/
@media (max-width: 1199px) {
  .tableWrapper table {
    width: 900px;
  }
}

@media (max-width: 767px) {
  .flexBetween {
    display: block;
  }
  .calendarWrapper form label {
    display: block;
    margin: 0 0 15px 0;
  }
  .calendarWrapper .button {
    display: block;
    margin-bottom: 15px;
  }
  .calendarWrapper form {
    display: block;
    margin-left: 0;
  }
}
