<div class="mainContentWrapper">
  <div class="emptySpace30"></div>

  <h3 class="h3 as title">Profileinstellungen</h3>
  <div class="emptySpace30"></div>

  <div class="formWrapper">
    <div class="row">
      <div class="col-md-6">
        <h5 class="h5 as subTitle">Kontaktdaten</h5>
        <div class="emptySpace15"></div>

        <div class="row">
          <div class="col-sm-6">
            <label class="label">
              <input class="simpleInput" type="text" placeholder="Vorname">
            </label>
          </div>
          <div class="col-sm-6">
            <label class="label">
              <input class="simpleInput" type="text" placeholder="Nachname">
            </label>
          </div>

        </div>

        <label class="label">
          <input class="simpleInput" type="text" placeholder="Strabe & Nr.">
        </label>
        <div class="row">
          <div class="col-sm-6">
            <label class="label">
              <input class="simpleInput" type="text" placeholder="PLZ">
            </label>
          </div>
          <div class="col-sm-6">
            <label class="label">
              <input class="simpleInput" type="text" placeholder="Ort">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label class="label select">
              <select>
                <option value="" disabled selected>Land auswählen</option>
                <option value="">Germany</option>
                <option value="">France</option>
                <option value="">Italy</option>
              </select>
            </label>
          </div>
          <div class="col-sm-6">
            <label class="label select">
              <select>
                <option value="" disabled selected>Anrede</option>
                <option value="">Herr</option>
                <option value="">Frau</option>
              </select>
            </label>
          </div>
        </div>
        <label class="label">
          <input class="simpleInput" type="number" placeholder="Telefonnummer">
        </label>
        <label class="label">
          <input class="simpleInput" type="email" placeholder="Email">
        </label>
        <label class="label">
          <input class="simpleInput" type="email" placeholder="Email für Abrechnung">
        </label>
      </div>

      <div class="col-md-6 col-sm-12">
        <h5 class="h5 as subTitle">Firmendaten</h5>
        <div class="emptySpace15"></div>
        <label class="label">
          <input class="simpleInput" type="text" placeholder="Unternehmen">
        </label>
        <label class="label">
          <input class="simpleInput" type="text" placeholder="UID">
        </label>

        <h5 class="h5 as subTitle">Bankdaten</h5>
        <div class="emptySpace15"></div>
        <label class="label">
          <input class="simpleInput" type="text" placeholder="Inhaber">
        </label>
        <label class="label">
          <input class="simpleInput" type="text" placeholder="IBAN">
        </label>

        <h5 class="h5 as subTitle">Passwort zurücksetzen</h5>
        <div class="emptySpace15"></div>
        <label class="label">
          <input class="simpleInput" type="password" placeholder="************">
        </label>
        <label class="label">
          <input class="simpleInput" type="password" placeholder="************">
        </label>
      </div>
    </div>
    <div class="button buttonSubmit">Speichem</div>
  </div>

  <div class="emptySpace30"></div>
</div>
