<div class="mainContentWrapper">
  <div class="emptySpace30"></div>

  <h3 class="h3 as title">Kontak & Support</h3>
  <div class="emptySpace30"></div>

  <div class="contactTumbnail">
    <div class="contactImg" [ngStyle]="{'background-image': 'url(assets/img/mario-schantl.jpg)'}"></div>

    <div class="contactInfo">
      <div class="contactName">Mario</div>
      <!--<div class="contactPosition">Accounting</div>-->

      <div class="emptySpace20"></div>

      <p>Telefon: <a href="tel:+4306642146784">0664 / 2146784</a></p>
      <!--<p>E-mail: <a href="mailto:m.schantl@optifin.at">schantl@optifin.at</a></p>-->
      <p>Skype: <a href="skype:mario.schantl1?call">mario.schantl1</a></p>
    </div>
  </div>

  <div class="contactTumbnail">
    <div class="contactImg" [ngStyle]="{'background-image': 'url(assets/img/ThomasWusatiuk.jpg)'}"></div>

    <div class="contactInfo">
      <div class="contactName">Thomas</div>
      <!--<div class="contactPosition">Technik & Tracking</div>-->

      <div class="emptySpace20"></div>

      <p>Telefon: <a href="tel:+4306645450033">0664 / 5450033</a></p>
      <!--<p>E-mail: <a href="mailto:m.t.wusatiuk@optifin.at">t.wusatiuk@optifin.at</a></p>-->
      <p>Skype: <a href="skype:wusatiuk.optifin?call">thomas.wusatiuk</a></p>
    </div>
  </div>

  <div class="contactTumbnail">
    <div class="contactImg" [ngStyle]="{'background-image': 'url(assets/img/martin-hoellinger.jpg)'}"></div>

    <div class="contactInfo">
      <div class="contactName">Martin</div>
      <!--<div class="contactPosition">Sales & Akquise</div>-->

      <div class="emptySpace20"></div>

      <p>Telefon: <a href="tel:+4306604747080">0660 / 4747080</a></p>
      <!--<p>E-mail: <a href="mailto:m.hollinger@optifin.at">m.hollinger@optifin.at</a></p>-->
      <p>Skype: <a href="skype:hollinger.optifin?call">mhoellin</a></p>
    </div>
  </div>

  <div class="emptySpace30"></div>
</div>
