#contentWrapper {
  overflow: hidden;
}

.routeAnimationWrapp {
  overflow: hidden;
}
.routeAnimation {
  background: #fff;
  height: 100%;
}
.homePageFlex {
  display: flex;
  min-height: calc(100vh - 120px);
}

.sideBarWrapper {
  padding: 0;
  max-width: 320px;
  width: 100%;
  flex-grow: 0;
}

/*Media*/
@media (max-width: 1365px) {
  .sideBarWrapper {
    max-width: 250px;
  }
}

@media (max-width: 991px) {
  .sideBarWrapper {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc( 100% - 50px );
    z-index: 5;
    transform: translateX(-100%);
    transition: transform .25s linear;
  }
  .mobileSideBarToggle {
    position: absolute;
    top: 50%;
    right: -50px;
    width: 50px;
    height: 50px;
    background-color: #225175;
    margin-top: -25px;
  }
  .mobileSideBarToggle span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 1px;
    transform: translateX(-50%);
  }
  .mobileSideBarToggle span:before,
  .mobileSideBarToggle span:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: transform .25s linear;
    content: '';
  }
  .mobileSideBarToggle:before,
  .mobileSideBarToggle:after{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 24px;
    height: 1px;
    background-color: #fff;
    transform: translateX(-50%);
    content: '';
  }
  .mobileSideBarToggle:after {
    top: auto;
    bottom: 35%;
  }
  .sideBarWrapper.active {
    transform: translateX(0);
  }
  .sideBarWrapper.active .mobileSideBarToggle:before,
  .sideBarWrapper.active .mobileSideBarToggle:after {
    display: none;
  }
  .sideBarWrapper.active .mobileSideBarToggle span:before {
    transform: rotate(45deg);
  }
  .sideBarWrapper.active .mobileSideBarToggle span:after {
    transform: rotate(-45deg);
  }
}
